@model IEnumerable<Bookstore.Models.Book> // Adjust namespace as needed

@{
    ViewData["Title"] = "Books";
}

<h2>Books</h2>

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model)
        {
            <tr>
                <td>@book.Title</td>
                <td>@book.Author</td>
                <td>@book.Price</td>
            </tr>
        }
    </tbody>
</table>
@Html.ActionLink("Create ", "Create", "Books")
@Html.ActionLink("Delete ", "Delete", "Books")
@Html.ActionLink("Edit ", "Edit", "Books")
@Html.ActionLink("Browse ", "Browse", "Books")
@Html.ActionLink("Update ", "Update", "Books")


